{% extends "v2/base.html" %}

{% block title %} Profile {% endblock %}

{% block css %}
    {% load static %}
    {% get_static_prefix as STATIC_PREFIX %}
    <link rel='stylesheet' href='{{ STATIC_PREFIX }}css/profile.css' type='text/css' />
{% endblock %}

{% block content %}
        <div class="profile_avatar">
            <img id="avatar-img" src="/{{ profile.avatar.name }}" /><br />
            {% if owner %}
                <input id="open-panel-button" onclick="showPanel()" type="button" value="Update" style="float: right;" />
            {% endif %}
            <div id="info">
                Name: <span id="first_name">{{ user_object.first_name }}</span> <span id="last_name">{{ user_object.last_name }}</span><br />
                Username: <span id="username">{{ user_object.username }}</span><br />
                JDate: {{ user_object.date_joined }}<br />
                <br />

            </div>


            {% if owner %}
                <script type="text/javascript">
                    function showPanel()
                    {
                        button = document.getElementById('open-panel-button');
                        button.value = 'Cancel'

                        curpanel = document.getElementById('info');
                        curpanel.style.display = 'none';

                        panel = document.getElementById('settings-panel');
                        panel.style.display = 'block';

                        button.onclick = function ()
                            {
                                button.onclick = showPanel;
                                button.value = 'Update';
                                panel.style.display = 'none';
                                curpanel.style.display = 'block';
                            }
                    }

                    function submitPost()
                    {
                        if ($('input[type=file]').val() == "")
                        {
                            $.post('', $("#profile-form").serialize(),
                                function(data)
                                {
                                    $('#first_name').html(data[0].fields.first_name);
                                    $('#last_name').html(data[0].fields.last_name);
                                    $('#username').html(data[0].fields.username);

                                    $('#avatar-img').attr('src', '/' + data[1].fields.avatar);

                                    $('#settings-panel').css('display', 'none');
                                    $('#info').css('display', 'block');

                                    button = document.getElementById('open-panel-button');
                                    button.click();
                                }).error(function() { $("#profile-form").submit(); });
                        }
                          else
                               $("#profile-form").submit();
                    }

                    function deleteUpload(id)
                    {
                        var des = window.confirm("Are you sure you want to delete this upload? \nthere's no going back ...");
                        if (des)
                            $.post('', {upload_id:id},
                                function(data)
                                {
                                    if ('error' in data)
                                        alert("There was an error, upload_id: " + id + " message: " + data.error);
                                    else if('upload_id' in data)
                                        $('#upload_tbl td').each(
                                            function()
                                            {
                                                if ($(this).parent().attr('id') == data.upload_id)
                                                    $(this).parent().remove();
                                            });
                                    else
                                        alert('I was expecting a return from this post?!?!?');
                                }).error(function() { $('#delete_upload_' + id).submit(); });
                    }

                    function updateUploadPrivate(id, value)
                    {
                        $.post('', {upload_private_id:id, upload_private_value:value},
                            function(data)
                            {
                                if ('error' in data)
                                    alert('there was an error \nupload_private_id: ' + upload_private_id + ' value: ' + value + ' msg: ' + data.message);
                                else if('upload_private_id' in data)
                                    $('#upload_tbl td').each(
                                        function()
                                        {
                                            if ($(this).parent().attr('id') == data.upload_private_id)
                                                $(this).find('[type=checkbox]').attr('checked', data.upload_private);
                                        });
                            }).error(function(){ alert("There was an error, sry ...");});

                    }

                </script>


                <div id ="settings-panel">
                    <form id="profile-form" action="" method="POST" enctype="multipart/form-data">
                        <input type="file" name="avatar" /><br />
                        <input type="text" name="first_name" value="{{ user_object.first_name }}" /><br />
                        <input type="text" name="last_name" value="{{ user_object.last_name }}" /><br />
                        <input type="text" name="email" value="{{user_object.email }}" /><br />
                        <input type="text" name="username" value="{{ user_object.username }}" /><br />
                        <input type="password" name="password" value="password" /><br />
                        <input type="checkbox" name="private"
                               {% if profile.private %}
                                    checked
                               {% endif %}
                               />Private Profile
                        <input style="float: right" type="button" onclick="submitPost()" value="Submit" /><br />
                    </form>
                    <br />
                </div>


            {% endif %}

            Numb Uploads: {{ uploadsavegames|length }}<br />
            Numb Comments: {{ comments|length }}<br />
        </div>

    <table><tr><td>
        <table id="upload_tbl" class="panel-grid-container" cellspacing="0">
            <caption>My Uploads</caption>
            <thead><th>Title</th><th>Game</th><th>Platform</th><th>Date</th><th>Comment</th>
            {% if owner %}
                <th>Private</th>
                <th>Action</th>
            {% endif %}
            </thead>
            <tbody>
            {% if uploadsavegames|length == 0 %}
                <tr><td colspan="all">Nothing yet ...</td></tr>
            {% else %}

                {% for upload in uploadsavegames %}
                <tr id="{{upload.id}}">
                    <td><a href="/gamepage/?uploaded_game_id={{upload.id}}">{{ upload.title }}</a></td>
                    <td><a href="/infopage/?game_id={{upload.game.id}}">{{ upload.game }}</a></td>
                    <td><a href="/platform/?p={{upload.platform.id}}">{{ upload.platform }}</a></td>
                    <td>{{ upload.datetime }}</td>
                    <td>{{ upload.description }}</td>
                    {% if owner %}
                    <form id="update_upload_{{upload.id}}" action="" method="post">
                    <td>
                        <input type="checkbox" onClick="updateUploadPrivate({{upload.id}}, this.checked)" name="upload_private"
                               {% if upload.private %}
                                    checked
                               {% endif %} />

                    </td>
                    <td>
                            <div style="display: none;"<input type="hidden" name="upload_id" value="{{upload.id}}" /></div>
                            <input type="button" value="Delete" onclick="deleteUpload({{upload.id}})" />
                        </form>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table></td></tr><tr><td>

        <table class="panel-grid-container" cellspacing="0">
            <caption>My Comments</caption>
            <thead><th>Title</th><th>Game</th><th>Date</th><th>Comment</th></thead>
            <tbody>
                {% if comments|length == 0 %}
                    <tr><td collspan="all">Nothing yet ...</td></tr>
                {% else %}

                    {% for comment in comments %}
                    <tr>
                        <td><a href="/gamepage/?uploaded_game_id={{comment.uploadedgame.id}}">{{ comment.uploadedgame.title }}</a></td>
                        <td><a href="/infopage/?game_id={{comment.uploadedgame.game.id}}">{{ comment.uploadedgame.game }}</a></td>
                        <td>{{ comment.datetime }}</td>
                        <td>{{ comment.comment }}</td>
                    </tr>
                    {% endfor %}

                {% endif %}
            </tbody>
        </table></td></td></table>    
{% endblock %}