{% extends "v2/base.html" %}

{% block title %} Sign In Portal {% endblock %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
{% block css %}
    <link rel='stylesheet' href="{{ STATIC_PREFIX }}css/signIn.css" type='text/css'/>
{% endblock %}

{% block js %}
    <script src="{{ STATIC_PREFIX }}js/signIn.js"></script>
{% endblock %}

{% block content %}
    {% if logInMessage %}
        <div id='logInMessage'>
            {{ logInMessage }}
        </div>
    {% endif %}

    {% if notLoggedIn %}
        <div id="signInBlock">
            <form action="" id="signInForm" method="POST">
            {% csrf_token %}
                <fieldset>
                    <legend>Credentials Entry</legend>
                    <label for="username">Username:</label>
                    <input id="username" name="username" type="text"
                           placeholder="Username is CaSe-SeNsItIvE." required autofocus>
                    <br><br>
                    <label for="password">Password:</label>
                    <input id="password" name="password" type="password"
                           placeholder="Password is also CaSe-SeNsItIvE." required>
                </fieldset>
                <fieldset>
                    <button id="signInSubmit" type="submit">Sign In</button>
                </fieldset>
            </form>
        </div>
    {% endif %}
{% endblock %}