{% extends "v2/base.html" %}

{% block title %} Signed Out {% endblock %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
{% block css %}
    <link rel='stylesheet' href="{{ STATIC_PREFIX }}css/signOut.css" type='text/css'/>
{% endblock %}

{% block js %}
    <script src="{{ STATIC_PREFIX }}js/signOut.js"></script>
{% endblock %}

{% block content %}
    <div id='signOutNote'>
        You have been successfully <span style='color: rgb(100,100, 255)'> signed out </span>. You will be automatically redirected to the home page in 10 seconds.
        <br />    
        <br />
        <a href="/">If you do not wish to wait, please click here to return to the home page.</a>
    </div>
    <body onload="redirect()">
{% endblock %}
