{% extends "v2/base.html" %}
{% block title %}
    Upload Your Saved Games
{% endblock %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
{% block css %}
    <link rel='stylesheet' href="{{ STATIC_PREFIX }}css/upload.css" type='text/css'/>
    <link rel='stylesheet' href="{{ STATIC_PREFIX }}ajax_select/css/ajax-selects.css" type='text/css' media="all"/>
    <link rel='stylesheet' href="{{ STATIC_PREFIX }}ajax_select/css/autocomplete.css" type='text/css' media="all"/>
{% endblock %}

{% block js %}
    <script src="{{ STATIC_PREFIX }}js/upload.js"></script>
    <script src="{{ STATIC_PREFIX }}ajax_select/js/jquery.autocomplete.js"></script>
    <script src="{{ STATIC_PREFIX }}ajax_select/js/ajax_select.js"></script>
{% endblock %}

{% block content %}
    {% if accessDenied %}
        <div id='accessDenied'>
            {{ accessDenied }}
            {% if redirectOn %}
                <br/>
                You will be redirected back to the upload page in 10 seconds.
                <br/>
                <a href="/upload">If you do not wish to wait, please click here to return to the
                    upload page.</a>
            {% endif %}
        </div>
    {% else %}
        <div id='formwrapper'>
            <form id='upload_page' method='POST' action="/upload/"
                  enctype="multipart/form-data"> {% csrf_token %}
                <div id='formcontents'>
                    <div id='validationerrors'>
                        {{ uploadForm.non_field_errors }}
                    </div>
                    <div id='game'>
                        <label id = "gameLabel" for='id_game'><span
                                class='fieldnames'>Associated Game: </span></label>
                        {{ uploadForm.game }} {{ uploadForm.game.errors }}
                    </div>
                    <div id='platform'>
                        <label for='id_platform'><span
                                class='fieldnames'>Associated Platform: </span></label>
                        {{ uploadForm.platform }} {{ uploadForm.platform.errors }}
                    </div>
                    <br/>
                    <div id='file'>
                        <label id="fileLabel" for='id_file'><span
                                class='fieldnames'>Saved Game File: </span></label>
                        {{ uploadForm.file }} {{ uploadForm.file.errors }}
                    </div>
                    <br/>
                    <div id='title'>
                        <label id="titleLabel" for='id_title'><span class='fieldnames'>Title for this save: </span></label>
                        {{ uploadForm.title }} {{ uploadForm.title.errors }}
                    </div>
                    <br/>
                    <div id='description'>
                        <label id="descriptionLabel" for='id_description'><span class='fieldnames'>Description for this save: </span></label>
                        {{ uploadForm.description }} {{ uploadForm.description.errors }}
                    </div>
                    <br/>
                    <div id='private'>
                        <label for='id_private'><span
                                class='fieldnames'>Make this save private? </span></label>
                        {{ uploadForm.private }} {{ uploadForm.private.errors }}
                    </div>
                </div>
                <br/>
                <input id='upload_submit' type='submit' value='Upload'/>
            </form>
        </div>
    {% endif %}
    {% if redirectOn %}
        <body onload="redirect()">
    {% endif %}
{% endblock %}