{% extends "v2/base.html" %}

{% block title %} {{ name }} {% endblock %}

{% block css %}
    {% load static %}
    {% get_static_prefix as STATIC_PREFIX %}
    <link rel='stylesheet' href='{{ STATIC_PREFIX }}css/infopage.css' type='text/css' />
{% endblock %}

{% block content %}
<div id='infowrap'>
	<span id = 'platform'>
		<a href="/platform/?p={{ game.platform.id }}">{{ game.platform.name }}</a> :
	</span>
	<span id = 'genre'>
		<a href="/genre/?g={{ game.genre.id }}">{{ game.genre.name }}</a> :
	</span>
	<span id = 'game'>
		{{ game.title }}
	</span>
	<br /> <br />
	<span id = 'scover'>
		<img src = "{{ game.smallcover }}" />
	</span>
	<br />
	<span id = 'description'>
		{{ game.description }}
	</span>
	<br /> <br />
	<span id = 'tag'>
		Saved games for the {{ game.platform }} version of {{ game.title }}:
	</span>
		<br /> <br />
    <div class = 'savegame'>
		<ul>
		{% for m in sgames %}
			<li>
                <div class = "eachGame">
                    <span class = 'title'> <a href ="/gamepage/?uploaded_game_id={{ m.id }}">{{ m.title}}</a></span>
                    <span class = 'votes'> Upvotes: {{ m.upvote }} </span>
                    <br />
                    <span class = 'votes'> Downvotes: {{ m.downvote }} </span>
                </div>
				<br /> <br />
			</li>
		{% endfor %}

		</ul>
	</div>
</div>
{% endblock %}