{% extends "base.html" %}


{% block title %} Save Game {% endblock %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
{% block css %} <link rel='stylesheet' href="{{ STATIC_PREFIX }}css/mainpage.css" type='text/css' /> {% endblock %}
{% block jquerystuff %} {% endblock%}
{% block js %} <script src="{{ STATIC_PREFIX }}js/mainpage.js"></script> {% endblock %}

{% block content %} 

    <div id='search_bar_container'>
        <form id = 'search_form' method = 'POST' action = "/resultspage"> {% csrf_token %}
        	<input id = 'search_bar' type = 'text' value = 'Search' 
onFocus = 'value=""' onBlur="if (value== '') {value='Search'}"/ >
            <input id='search' type='image' value =  'Go!'/>
        </form>
    </div>
    <br/>
    <div id='latest_ten'>
    	<h2>Latest Uploads</h2>
    	<div id = 'latest_ten_cont'>
			{% if latest_ten %}
				<ol>
				{% for upload in latest_ten %}
					<li>&nbsp;{{upload.filename}}&nbsp;&nbsp;&nbsp;{{upload.gamename}}</li>
				{% endfor %}
				</ol>
			{% else %}
				<p>Nothing was uploaded so far</p>
			{% endif %}
		</div>
    </div>

{% endblock %}

