<!DOCTYPE html>

<html lang='en'>
    <head>
        <title>{% block title %} Base HTML {% endblock %} </title>
        {% load static %}
        {% get_static_prefix as STATIC_PREFIX %}
        <link rel='stylesheet' href="{{ STATIC_PREFIX }}css/base.css" type='text/css' />
        {% block jquerystuff %}
        <link rel='stylesheet' href="{{ STATIC_PREFIX }}css/custom-theme/jquery-ui-1.8.11.custom.css" type='text/css' />
        <script src="{{ STATIC_PREFIX }}js/jquery-1.5.1.min.js"></script>
        <script src="{{ STATIC_PREFIX }}js/jquery-ui-1.8.11.custom.min.js"></script>
		{% endblock %}
        {% block css  %} {% endblock %}
        {% block js %} {% endblock %}
        <meta http-equiv='Content-Type' content='text/html;charset=UTF-8' />
    </head>
    <body>
        <div id='container'>
            <div id='header'>
              {% block logo %}

              <div style='width:100%; float:left'>
                <div id='logo'>
                        <div style='width: 100%'>
                            <a style='border: none;' href='/'> <img src='{{ STATIC_PREFIX }}images/system/logo.jpg' /></a>
                        </div> 
                        <div style='width: 100%; color: rgb(190,190,190);'>
                            
                        </div>
                </div>
                {% block nav %}
				{% if logged_in %}
					<div id='nav'>
					  <div style='width: 100%; float: left; text-align: center;'>
						Welcome, <span style='color: red'>{{ fullname }}</span>
					  </div>
					  <div> &nbsp;
					  </div>
					  <div style='width: 100%; float: left;'>
						<a href='/'>Search</a> &nbsp; &nbsp; | &nbsp; &nbsp;
						<a href='/profile/{{ user_id }}'>Account Settings</a> &nbsp; &nbsp; | &nbsp; &nbsp;
						<a href='/upload'>Upload</a> &nbsp; &nbsp; | &nbsp; &nbsp;
						<a href='/signOut/'>Sign Off</a>
					  </div>
					</div>
				{% else %}
					<div id='nav'>
						<div style='width: 100%; float: right;'>
						  <a href='/signIn/'>Login</a> &nbsp; | &nbsp;
						  <a href='/registration/'>Sign Up</a>
						</div>
					</div>
				{% endif %}
                {% endblock %}

              </div>
              <div id='subtitle'>
                    A save data cloud service
              </div>
              {% endblock %}
              

                
            </div>
            
            <div id='content'>
                
                {% block content %} Default Base {% endblock %}
                
            </div>

            <div id='footer'>
                {% block footer %}      
                    {% block h_footer %}
                    {% endblock %}
                    <br />
                    <br />
                    <br />
                    Copyright &copy; 2011 <br /> Eudis Duran, Akshai Sarma, Samy Vilar, Townes Wang
                {% endblock %}
            </div>
        </div>
    </body>
</html>
