<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>{% block title %} Base HTML {% endblock %} </title>
    <meta http-equiv="Content-Type" content="text/html; charset=MacRoman">
    {% load static %}
    {% get_static_prefix as STATIC_PREFIX %}
    <link rel='stylesheet' href="{{ STATIC_PREFIX }}v2/css/base.css" type='text/css' />
    {% block css  %} {% endblock %}
    {% block js %} {% endblock %}
  </head>
  <body>
      <script type="text/javascript">

          function checkTextField(field, fieldname)
          {
              if (field.value == '')
              {
                  if (fieldname == 'username')
                      field.value = "Username (email)";
                  else if (fieldname == 'password')
                      field.value = 'Password';
              }

          }

          function clearField(field, fieldname)
          {
              if (fieldname == 'username' && field.value == "Username (email)")
                  field.value = ""
              else if (fieldname == 'password' && field.value == "Password")
                  field.value = ""
          }
          
      </script>

      <div id="header">
          <img id="logo" src="{{ STATIC_PREFIX }}images/logo.png" />
          <div id="logo_title">SAVED GAMES</div>

          <div id="search_div">
              <form id = 'search_form' method = "GET" action = "/results/">
                <input id="search_text" name="search" type = 'text' value = 'Search' onFocus = 'value=""' onBlur= "if (value == ''){value='Search'}"/>
                <input id="search_button" type = 'submit' value='Search'/>
              </form>
          </div>

          {% if logged_in %}
            <div id="logged_in">
                <div id="user_panel">
                    Welcome, <a href="/profile/{{ user_id }}" style="color: white;">{{ fullname }}</a>
                    <input type="button" value="Sign Out" onclick="window.location='/signOut/'" class="login_button" style="width: 70px;"/>
                </div>
         {% else %}
          <div id="login">
              <div id="login_panel">
                  <form action="/signIn/" method="post">
                      <input onclick="clearField(this, 'username')" onblur="checkTextField(this, 'username')" type="text"    value="Username (email)" name="username" class="login_textfield" />
                      <input onclick="clearField(this, 'password')" onblur="checkTextField(this, 'password')" type="password" value="Password" name="password" class="login_textfield" />
                      <input type="submit" value="Login" class="login_button"/>
                      <input type="button" value="Register" class="login_button" onclick="window.location='/registration/'"/>
                  </form>
              </div>              
         {% endif %}
                <div id="menu">
                  <div class="menu_item"><a href="/games/genres/">Genres</a></div>
                  <div class="menu_item"><a href="/games/consoles/">Consoles</a></div>
                </div>
          </div>

          
          <!--
          <div id="menu">
              <div class="menu_item"><a href="/games/pc/">Genres</a></div>
              <div class="menu_item"><a href="/games/xbox360/">Consoles</a></div>
              <!--
              <div class="menu_item"><a href="/games/pc/">PC</a></div>
              <div class="menu_item"><a href="/games/xbox360/">Xbox 360</a></div>
              <div class="menu_item"><a href="/games/ps3/">PS 3</a></div>
              <div class="menu_item"><a href="/games/wii/">Wii</a></div>
              <div class="menu_item"><a href="/games/psp/">PSP</a></div>
              <div class="menu_item"><a href="/games/3ds/">3DS</a></div>
              <div class="menu_item"><a href="/games/ds/">DS</a></div>              
          </div>
           -->
           
      </div>

      <div id='content'>
            {% block content %} {% endblock %}
      </div>

      <div id='footer'>
            {% block footer %}            
                Copyright &copy; 2011 Eudis Duran, Akshai Sarma, Samy Vilar, Townes Wang
                <div id="footer_links">
                    <a href="/contactus/">Contact Us</a>
                    <a href="/aboutus/">About Us</a>
                </div>
            {% endblock %}
      </div>

  </body>
</html>