<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>{% block title %} Base HTML {% endblock %} </title>
    <meta http-equiv="Content-Type" content="text/html; charset=MacRoman">
    {% load static %}    
    {% get_static_prefix as STATIC_PREFIX %}

    <link rel='stylesheet' href="{{ STATIC_PREFIX }}v2/css/base.css" type='text/css' />
    
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/MenuMatic.css" type="text/css">
    <!--link rel="stylesheet" href="http://greengeckodesign.com/projects/MenuMatic/examples/horizontal/css/MenuMatic.css" media="screen" charset="utf-8" /-->

    <script src="{{ STATIC_PREFIX }}js/jquery-1.5.1.min.js"></script>
    <script src="{{ STATIC_PREFIX }}js/jquery-ui-1.8.11.custom.min.js"></script>

    <link rel='stylesheet' href="{{ STATIC_PREFIX }}css/custom-theme/jquery-ui-1.8.11.custom.css" type='text/css' />
    
    {% block css  %} {% endblock %}
    {% block js %} {% endblock %}
  </head>
  <body>
      <script type="text/javascript">

          function checkTextField(field, fieldname)
          {
              if (field.value == '')
              {
                  if (fieldname == 'username')
                      field.value = "Username (email)";
                  else if (fieldname == 'password')
                      field.value = 'Password';
              }

          }

          function clearField(field, fieldname)
          {
              if (fieldname == 'username' && field.value == "Username (email)")
                  field.value = ""
              else if (fieldname == 'password' && field.value == "Password")
                  field.value = ""
          }

      </script>

      <div id="header">
          <a href='/'> <img id="logo" src="{{ STATIC_PREFIX }}images/logo.png" border="0px"/> </a>
          <a id='logo_title_link' href='/'> <div id="logo_title">SAVE-GAME</div> </a>

          <div id="search_div">
              <form id = 'search_form' method = "GET" action = "/results/">
                <input id="search_text" name="search" type = 'text' value = 'Search' onFocus = 'value=""' onBlur= "if (value == ''){value='Search'}"/>
                <input id="search_button" type = 'submit' value='Search'/>
              </form>
          </div>
          
          {% if user.is_authenticated %}
            <div id="logged_in">
                <div id="user_panel">
                    Welcome, <a href="/profile/{{ user.id }}" style="color: white;">{{ user.get_full_name }}</a>
                    <input type="button" value="Sign Out" onclick="window.location='/signOut/'" class="login_button" style="width: 70px;"/>
                </div>
         {% else %}
          <div id="login">
              <div id="login_panel">
                  <form action="/signIn/" method="post">
                      <input onclick="clearField(this, 'username')" onblur="checkTextField(this, 'username')" type="text"    value="Username (email)" name="username" class="login_textfield" />
                      <input onclick="clearField(this, 'password')" onblur="checkTextField(this, 'password')" type="password" value="Password" name="password" class="login_textfield" />
                      <input type="submit" value="Login" class="login_button"/>
                      <input type="button" value="Register" class="login_button" onclick="window.location='/registration/'"/>
                  </form>
              </div>              
         {% endif %}                
          </div>
         
          <ul id="nav">
			<li><a href="#">GENRES</a>
				<ul>					
					<li><a href="/genre/?g=3">ACTION</a></li>
					<li><a href="/genre/?g=25">ADVENTURE</a></li>
                    <li><a href="/genre/?g=1">PUZZLE</a></li>
                    <li><a href="/genre/?g=59">STRATEGY</a></li>
                    <li><a href="/genre/?g=114">SPORTS</a></li>
                    <li><a href="/genre/?g=7">ROLE-PLAYING</a></li>
                    <li><a href="/genre/?g=67">SHOOT-'EM-UP</a></li>
                    <li><a href="/genre/?g=47">2D-PLATFORMERS</a></li>
                    <li><a href="/genre/?g=12">RACING</a></li>
				</ul>
			</li>

			<li><a href="#">PLATFORMS</a>
				<ul>                    
                    <li><a href="/platform/?p=1">PC</a></li>
                    <li><a href="/platform/?p=2">XBOX 360</a></li>
                    <li><a href="/platform/?p=3">Wii</a></li>
                    <li><a href="/platform/?p=4">PS3</a></li>
                    <li><a href="/platform/?p=5">PSP</a></li>
                    <li><a href="/platform/?p=6">3DS</a></li>
                    <li><a href="/platform/?p=7">DS</a></li>
				</ul>
			</li>
		</ul>        
        
         <script src="{{ STATIC_PREFIX }}js/mootools-core-1.3.2-full-compat.js" type="text/javascript" />
         

	<!-- Load the MenuMatic Class -->
	<script src="{{ STATIC_PREFIX }}js/MenuMatic_0.68.3-source.js" type="text/javascript" charset="utf-8"></script>

	<!-- Create a MenuMatic Instance -->
	<script type="text/javascript" >
		window.addEvent('domready', function() {
			//newMenu();
		});
	</script> 
          
                 
    </div>

      <div id='content'>
            {% block content %} {% endblock %}
      </div>
      

      <div id='footer'>
            {% block footer %}            
                Copyright &copy; 2011 Eudis Duran, Akshai Sarma, Samy Vilar, Townes Wang
                <div id="footer_links">
                    <a href="/contactus/">Contact Us</a>
                    <a href="/aboutus/">About Us</a>
                </div>
            {% endblock %}
      </div>

  </body>
</html>
