/*  */


#gameinfo{
    width: 80%;
    float: center;
    
    margin: auto;
}

#title {
    width: 100%;
    float: left;
    
}

#desc {
    width: 100%;
    float: left;
    
}

#comments{
    width: 100%;
    float: left;
    
    
}

#comment_area {
    resize:none;
   
}
