/*  */


#gameinfo{
    width: 80%;
    margin: auto;
    height: 650px;    
}

#title {
    width: 100%;
    float: left;
    
}

#desc {
    width: 100%;
    float: left;
    
}

#comments{
    width: 100%;
    float: left;
      
}

.acomment {
width: 100%; float: left;
}

#download_link {
    width:60%; 
    text-align: center; 
    font-family: 'Sans Serif';
    text-decoration: none;
}

#download_link:link {
    color: rgb(100,100,150);
} 

#download_link:hover {
    font-size: 37px;
}

#comment_area {
    resize:none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid gray;
}
