#infowrap
{
	width: 95%;
	margin: auto;
}

li
{
	list-style-type: none;
}

a
{
	text-decoration: none;
}

#platform, #genre, #game
{
	font-size: 30px;
}

#tag
{
	font-size: 20px	;	
}

.savegame
{
	margin: auto;
	width: 50%;
}

.title
{
	float: left;
	font-size: 18px;
}

.votes
{
	float: right;
}