/* CSS file for main page */

#mainpage_container 
{
	margin: auto;
	width: 70%;
	height: 85%;
}

/*
#search_bar
{
	width: 82%;
	height: 15%;
	padding-left: 10px;
	font-size: 25px;
	font-weight: 100;
	color: grey;
	border: 1px solid black;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	float: left;
}

#search
{
	width: 10%;
	font-size: 14px;
	margin-left: 5%;
	float: left;
}
*/

#latest_ten 
{
	clear: both;
	margin: auto;
	
	margin-top: 7%; 
	padding: 0px 10px;
	width: 60%;
	height: auto;
    border: 1px solid rgb(120,120,120);
    -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
    
}

.gtitles
{
	float: right;
}

