



.grid
{
    border-width: 1px;
    border-color: black;
    border-style: solid;
    width:348px;
    height: 150px;
    float: left;
}
.list_title
{
    display: block;
    font-size: 15px;
    background-color: beige;
    float: left;
    text-align: center;
}

.list_header
{
    display:block;
    float: left;
    background-color: beige;
    width: 100px;
    padding: 8px;
}

.list_entry
{
    display: block;
    float: left;
}

li
{
    list-style: none;
    width: 75px;
}

ul
{
    float: left;
}



#container {
    display: table;
    }

  #row  {
    display: table-row;
    }

  #left, #right, #middle {
    display: table-cell;
    }