<!DOCTYPE html>

<html lang='en'>
    <head>
        ${self.title()}
        ${self.base_meta()}
        ${self.meta()}
        ${self.base_css()}
        ${self.css()}
        ${self.base_js()}
        ${self.js()}
    </head>
    <body>
        <div id='container'>
            ${self.header()}
            ${self.body()}
            ${self.footer()}
        </div>
    </body>

</html>


<%def name='footer()'>

</%def>
<%def name='base_meta()'>
    <meta http-equiv='Content-Type' content='text/html;charset=utf-8' />
</%def>
<%def name='base_css()'>
    <link rel='stylesheet' href='/css/base.css' type='text/css' />
</%def>
<%def name='base_js()'>
    <script
    src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'></script>

</%def>
