{% extends "v2/base.html" %}

{% block title %} Game Save {% endblock %}

{% block css %}
    {% load static %}
    {% get_static_prefix as STATIC_PREFIX %}
    <link rel='stylesheet' href='{{ STATIC_PREFIX }}css/gamepage.css' type='text/css' />
{% endblock %}

{% block js %}
<script type='text/javascript'>

function getUploadedFileData(data){
    data = eval( '(' + data + ')' );  // Interpret string as json object.  Very unsafe, but does the job :)
    
    $("#data_title").html(data['data_title']);    
    $("#download_link").attr("href", data['download_link']); /* Set the attribute dynamically */
    $("#uploader").html(data['uploader']);
    $("#date").html(data['date']);
    $("#profile").attr("src", data['profile_path']);
    $("#game_desc").html(data['game_desc']);
    $("#upvotes").html(data['upvotes']);
    $("#downvotes").html(data['downvotes']);
    if (data['vote_status'] == -1) {
		$("#dnv").attr("src", "{{ STATIC_PREFIX }}images/dnv.png");
		$("#upv").attr("src", "{{ STATIC_PREFIX }}images/upv-in.png");	
	}
    else if (data['vote_status'] == 1) {
    	$("#upv").attr("src", "{{ STATIC_PREFIX }}images/upv.png");
		$("#dnv").attr("src", "{{ STATIC_PREFIX }}images/dnv-in.png");    	
    }
    else { 
		$("#upv").attr("src", "{{ STATIC_PREFIX }}images/upv-in.png");
		$("#dnv").attr("src", "{{ STATIC_PREFIX }}images/dnv-in.png");
	}     
    /* Load the comment section */

     /* Get all the date properly formattted */
        info = [];
        for(var i in data['info2']){
             info.push(Number(i));
        }
        
        info = info.reverse();
    

        var comment_id = 0;
        var date = 0;
        var comment = '';
        var user = '';
       
        for(var i = 0; i < info.length; i++)
        {
         
            comment_id = data['info2'][info[i]]['id'];
            date = data['info2'][info[i]]['datetime'];
            comment = data['info2'][info[i]]['comment'];
            user = data['info2'][info[i]]['username'];    
            
            var div = "<div id='" + comment_id +
            "' class='acomment'><br /><a href='#'>" + user + "</a> &nbsp; &nbsp; <span style='font-style:italic'>" +  date + " </span><p>" +
            comment
            + "</p><hr /><br /></div>";
            $("#comment_section").append(div);   
        }    
}


function getCommentData(data){
        
        data = eval('(' + data + ')');

        var comment_id = data['only']['id'];
        var date = data['only']['datetime'];
        var comment = data['only']['comment'];
        var user = data['only']['username'];;       

        
        var div = "<div id='" + comment_id +
         "' class='acomment'><br /><a href='#'>" + user + "</a> &nbsp; &nbsp; <span style='font-style:italic'>" + date + "</span><p>" +
        comment
        + "</p><hr /><br /></div>";
       
        if ($("#comment_section").children().length > 0 ){
            $(div).insertBefore(".acomment");
            $("#" + comment_id ).hide();
            $("#" + comment_id ).show('slow', function(){ });
        }
        else {
            $("#comment_section").append(div);
            $("#" + comment_id ).hide();
            $("#" + comment_id ).show('slow', function(){ });
        }               
}

function getvotedata(data){ 
	data = eval('(' + data + ')');
	var arrow = data['arrow']
	if (arrow == "UP") 
    	$("#upv").attr("src", "{{ STATIC_PREFIX }}images/upv.png");
	else if (arrow == "DWN")
    	$("#dnv").attr("src", "{{ STATIC_PREFIX }}images/dnv.png");
    else {
      	$("#upv").attr("src", "{{ STATIC_PREFIX }}images/upv-in.png");
    	$("#dnv").attr("src", "{{ STATIC_PREFIX }}images/dnv-in.png");
    }        
    $("#upvotes").html(data['upvotes']);
    $("#downvotes").html(data['downvotes']);          
}

$(document).ready(function(){
    var uploaded_game_id = {{ uploaded_id }}; 
	/* Adding this next line for voting */
	var cur_user = "{{ user.id }}"
    /* This part uses ajax to get the necessary
       data from the db, given the user_id and uploaded_game_id */    
    $.ajax({
        type: "GET",
        url: "/getUploadedFileData/",
        data: {'uploaded_game_id' : uploaded_game_id, 'cur_user' : cur_user },
        async: false,
        success: getUploadedFileData
    });

    $("#sub").click(function(){
        // We remove extra whitespace from the comment input
        var comment_data = $("#comment_area").val();
        
        comment_data = comment_data.replace(/(\r\n|\n|\r)/gm,"");
        comment_data = comment_data.replace(/\s+/g," ");
        if( comment_data == '' || comment_data == ' ' ){
            alert("Provide a comment!");
            return;
        }
        
		if (cur_user != "None")
			$.ajax({
				async: false,
				success: getCommentData,
				url: "/getCommentData/",
				data: { 'user_id' : cur_user, 'uploaded_game_id' : uploaded_game_id, 'comment_data': comment_data  } 
	
			});
		else
			alert("Please log-in to comment!");    
        
    });
    
    $("#upv").click(function(){
		if (cur_user != "None")
			$.ajax({
				async: false,		
				success: getvotedata,
				url: "/getvotedata/",
				data: { 'uploaded_game_id' : uploaded_game_id, 'vote': 1, 'cur_user' : cur_user }
			});
		else
			alert("Please log-in to vote!");

	});
	
	$("#dnv").click(function(){
		if (cur_user != "None")
			$.ajax({
				async: false,
				success: getvotedata,
				url: "/getvotedata/",
				data: { 'uploaded_game_id' : uploaded_game_id, 'vote': 0, 'cur_user' : cur_user }
			});
		else
			alert("Please log-in to vote!");
	});

});
</script>

{% endblock %}


{% block content %} 
    <div id='gameinfo'>
		<!-- Voting -->
		<div id = 'voting'>
			 <input id='upv' type='image' src= "" height="25" width = "20"/> <br />
			 <span id='upvotes'>10</span> <br />
			 <span id='downvotes'>10</span> <br />
			 <input id='dnv' type='image' src= "" height="25" width = "20"/> <br />
		</div> 
        <div id='title'>
            <div style='width:25%; float:left;'>
                <h2 id='data_title'>RE_Only_Knife</h2>
                <br />
                Uploaded <span id='date' style='font-style: italic'> 2/28/2011</span>
                <br />
            </div>
            <div style='width:60%; float:left; text-align: center;'>
                <h1> <a id='download_link' href='#'>Download Savegame</a> </h1>
            </div>           	
        </div>
        <div id='desc'>
            <div style='width: 30%; float: left;'>
                <img id='profile' src='' alt='No profile pic' />
                <br />
                Uploaded By:  <span id='uploader'> Eudis </span>
            </div>
            
            <div style='float:left; width: 65%; border-radius: 15px; -webkit-border-radius: 15px; -moz-border-radius:15px; border: 1px solid gray; min-height: 100px; margin-left: 2%; padding: 1%'>
            <h3> Description </h3>
            <p id='game_desc'> The save game is awesome.  In it is proof how I beat RE with only the knife.</p>
            </div>
        </div>
        <div id='comments'>
        <hr />
            <div style='width:49%; float: left;'>
                <h3>Post A Comment</h3>
                <br />
                 <input id='sub' type='button' value='Submit Comment' />
                <br />
                <textarea id='comment_area' rows='10' cols='30'></textarea>
                <br />
               
            </div>
    
            <div id='comment_section' style='width: 49%; float: left; overflow-y: auto; overflow-x: hidden; height: 300px;'> 
                
                
            </div>

        </div>
    </div>
{% endblock %}



