{% extends "base.html" %}

{% block title %} Game Save {% endblock %}

{% block css %}
    {% load static %}
    {% get_static_prefix as STATIC_PREFIX %}
    <link rel='stylesheet' href='{{ STATIC_PREFIX }}css/gamepage.css' type='text/css' />
{% endblock %}

{% block content %} 
    <div id='gameinfo'>
        <div id='title'>
            <div style='width:30%; float:left;'>
                <h2>RE_Only_Knife</h2>
                <br />
                <span style='font-style: italic'>Uploaded 2/28/2011</span>
            </div>
            <div style='width:65%; float:left; text-align: center;'>
                <h1> <a href='#'>Download Savegame</a> </h1>
            </div>
        </div>
        <div id='desc'>
            <div style='width: 30%; float: left;'>
                Profile Stuff
                <br />
                Uploaded By: Eudis
            </div>
            
            <div style='float:left; width: 65%; border-radius: 15px; -webkit-border-radius: 15px; -moz-border-radius:15px; border: 1px solid gray; min-height: 100px; margin-left: 2%; padding: 1%'>
            <h3> Description </h3>
            The save game is awesome.  In it is proof how I beat RE with only the knife.
            </div>
        </div>
        <div id='comments'>
        <hr />
            <div style='width:49%; float: left;'>
                <h3>Post A Comment</h3>
                <br />
                <textarea id='comment_area' rows='10' cols='30'>

                </textarea>
                <br />
                <input type='submit' value='Submit Comment' />
            </div>
    
            <div style='width: 49%; float: left; overflow: hidden; height: 300px;'> 
                
                <div style='width: 100%; float: left;'>
                    <br />
                    <a href="#">Eudis</a> &nbsp; &nbsp; <span style='font-style:italic'> 1/22/2011 - 1:30pm </span>
                    <p> This game save is awesome! Thanks a lot </p>
                    <hr />
                    <br />
                </div>
                 <div style='width: 100%; float: left;'>
                    <br />
                    <a href="#">Akshai</a> &nbsp; &nbsp; <span style='font-style:italic'> 1/22/2011 - 1:45pm</span>
                    <p> I disagree </p>
                    <hr />
                    <br />
                </div>
                 <div style='width: 100%; float: left;'>
                    <br />
                    <a href="#">Townes</a> &nbsp; &nbsp; <span style='font-style:italic'> 1/22/2011 </span>
                    <p> I beat Grossberg in an argument. And I love the kindle. </p>
                    <hr />
                    <br />
                </div>
                
                
                
            </div>

        </div>
    </div>
{% endblock %}



